<class class="primary title-bar">
    <span class="title left">
        <a href="{{ path('homepage') }}">
                <i class="fa fa-trello"></i> Trello-like
            </a>
    </span>
    <span class="title right">
        <a href="{{ path('projects_add') }}">
            <i class="fa fa-plus-square"></i>
        </a>
    </span>
</class>