{% extends 'base.html.twig' %}

{% block body %}
    <div class="grid-container">
        <h2>Projects</h2>
        <div class="projects grid-block small-up-4">
            <div class="card">
                <div class="card-section">Nom project</div>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/app/css/index.css') }}">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/app/js/index.js') }}"></script>
{% endblock %}
