{% extends 'base.html.twig' %}

{% block body %}
    <div class="grid-block vertical padding">
        <h2>Boards</h2>
        {{ render(controller('AppBundle:Board:list')) }}
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/index.js') }}"></script>
{% endblock %}
