<div class="board_column grid-content">
    <h5 class="text-center">
        {{ column.name }}
        <span class="column-actions">
            <a href="{{ path('column_edit', {'id': column.id}) }}">
                <i class="column-edit fa fa-pencil"></i>
            </a>
        </span>
    </h5>
    {% for card in column.cards %}
        <div class="grid-content">
            <a href="#">
                <div class="board card">
                    <div class="card-divider">{{ card.text }}</div>
                </div>
            </a>
        </div>
    {% endfor %}
</div>