<div class="projects grid-block small-up-4">
    {% for project in projects %}
        <div class="card">
            <div class="card-section">{{ project.name }}</div>
        </div>
    {% endfor %}
</div>